.form_masc {
    border: 3px #FFF solid;
    border-radius: 5px;
    width: 350px;
    height: 160px;
    max-width: 550px;
    max-height: 600px;
    margin: 3em auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #483D8B;
}

.form_fem {
    border: 3px #FFF solid;
    border-radius: 5px;
    width: 350px;
    height: 220px;
    max-width: 550px;
    max-height: 600px;
    margin: 3em auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #483D8B;
}

.measures {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3px;
}

.weight {
    display: flex;
    gap: 15px;
}


.form_masc label, .form_fem label {
    font-size: 12.5px;
    font-weight: bold;
}

.form_masc p, .form_fem p {
    font-weight: bold;
}

.form_masc input[type=number], .form_fem input[type=number] {
    padding: .4em;
    border-radius: 10px;
    border: 3px solid #191970;
    font-size: 12px;
    margin-bottom: .2em;
    width: 80px;
    height: 20px;
    display: block;
}

input[type=number]:hover {
    background-color: #C0C0C0;
}

.form_masc input[type=submit], .form_fem input[type=submit] {
    background-color: #DCDCDC;
    color: #000;
    padding: 1em 1em;
    border-radius: 8px;
    border: 3px solid #228B22;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;

}

input[type=submit]:hover {
    background-color: #228B22;
}

.submit_fem {
    text-align: center;
    margin-top: 1.5em;
}

@media (max-width: 720px) {

    .main_container {
        margin-bottom: 5em;
    }

    .form_masc {
        width: 250px;
        height: 180px;
    }

    .form_masc input[type=number] {
        width: 35px;
    }

    .form_fem {
        width: 250px;
        height: 240px;
    }

    .form_fem input[type=number] {
        width: 35px;
    }
}

@media (max-width: 900px) and (min-height: 1000px) {

    .form_fem {
        margin-bottom: 5em;
    }
}

/*  DESKTOPS */

@media (min-width: 1024px) and (max-width: 1400px) {

    .form_fem {
        margin-bottom: 5em;
    }

}

@media (min-width: 1401px) and (max-width: 1900px) {

    .form_fem {
        margin-bottom: 5em;
    }

}